<div class="adjust" style="height:100px"></div>
<div class="container my-4">
  <div id="data" data-data="<%= @data.to_json %>">
    <% @data.each do |category, values| %>
      <select class="selects">
        <optgroup label="<%= category %>">
          <% values.each do |subcategory| %>
            <option value="<%= subcategory[0] %>"><%= subcategory[0] %></option>
          <% end %>
        </optgroup>
      </select>
    <% end %>
  </div>

  <div id="result" class="my-5">
    <h3>Prices:</h3>
  </div>

  <div class="graph"> <%= column_chart [['food', 10], ['rent', 20], ['drink', 30], ['tobacco', 25], ['utilities', 15], ['recreation', 55], ['transportation', 45], ['TOTAL', 200]] %> </div>
</div>
