<div class="adjust" style="height:100px"></div>

<h1 style="text-align: center; font-size: 30px; font-weight: bold; color: #c57b57;">Cost of Living Estimator for <%= link_to @city.name, city_path(@city), style: "color: black;" %></h1>
<div class="container my-5">
  <div class="row">
    <%= render partial: "pages/costs_select", locals: { city: @city }, cached: true %>
    <div class="col-8">
      <div id="chart-container" class="mt-5">
        <canvas id="myChart" width="400" height="350" style='max-height: 400px;'>
        </canvas>
        <h4 style="text-align: center;" class="mt-4">*All values in USD</h4>
      </div>
    </div>
    <div class="col-4">
      <%= render partial: "pages/budgets", cached: true %>
      <%= render partial: "pages/cities_select", locals: { cities: @cities }, cached: true %>
      <div class="common-search pt-5 d-flex justify-content-center">
          <a href="" class="btn btn-pizza" id="chart-toggle">Pie Chart</a>
      </div>
    </div>
  </div>

  <%= link_to 'Back', city_path(@city), class:"btn-flat" %>
</div>


