<% filename = "cities/#{@city.name.downcase.split[0]}.jpg" %>
<div class="banner-city text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path filename, crop: :fill%>');">
  <div class="container text-center link navbar-trigger" style="color:white;">
    <div class="place pb-3">
      <h1><strong><%=@city.name%> </strong></h1>
      <h5><strong><%=@city.country.name%></strong></h5>
    </div>
    <div id="wishlists">
      <%= render partial: "cities/wishlists" %>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="content mb-5" id="menu">
    <%= render partial: "cities/show_menu" %>
    <%= render partial: "cities/city_info", locals: { city: @city } %>
    <%= render partial: "cities/weather", locals: { city: @city } %>
    <%= render partial: "cities/score", locals: { city: @city } %>
    <div class="row d-flex justify-content-around">
      <%= render partial: "cities/costs_card", locals: { city: @city } %>
      <%= render partial: "cities/send_info", locals: { city: @city } %>
    </div>
    <%= render partial: "cities/reviews", locals: { city: @city } %>
  </div>
  <%= link_to 'Back', cities_path, class:"btn-flat" %>
</div>
