<div class="container my-4">
  <h1><%= @city.name %></h1>
  <p><%= @city.coordinates %></p>
  <p><%= @city.temperature %></p>
  <p><%= @city.data %></p>
  <p>---------------------------Reviews---------------------------p>
  <p><% @city.reviews.each do |review| %></p>
    <%= review.content %>
  <% end %>
</div>
