<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?<%= @city.name %>,landscape);">
  <div class="container link">
    <h1><strong><%=@city.name%> </strong></h1>
    <p><br><strong><%=@city.country.name%></strong></p>
  </div>
</div>

<div class="container my-4">
  <div class="content mb-5">
    <p>Latitude: <%= @city.latitude %> | Longitude: <%= @city.longitude %></p>
    <p>Median yearly temperature: <%= @city.temperature %></p>
    <div id="wishlists">
      <%= render partial: "cities/wishlists" %>
    </div>
    <div class="row justify-content-around">
      <div class="card my-4 col-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Economical Package</h5>
          <p class="card-text">Price: $500</p>
          <%= link_to "See more", city_economical_path(@city) %>
        </div>
      </div>
      <div class="card my-4 col-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Expensive Package</h5>
          <p class="card-text">Price: $1000</p>
          <%= link_to "See more", city_expensive_path(@city) %>
        </div>
      </div>
    </div>
  </div>
  <div class="review border-top pt-4 pb-4">
    <h4><em>Reviews</em></h4>
    <%= render @city.reviews || "Nobody has reviewed #{@city.name} yet, have you visited it? Leave a review for others!" %>
    <% if user_signed_in? %>
      <%= render partial: "cities/form" %>
    <% else %>
      <%= button_to "Login to wishlist cities and much more!", new_user_session_path, class:"btn-flat btn-primary" %>
    <% end %>
  </div>
  <%= link_to 'Back', root_path, class:"btn-flat btn-primary" %>
</div>
