<div class="container my-4">
  <h1><%= @city.name %></h1>
  <p><%= @city.coordinates %></p>
  <p><%= @city.temperature %></p>
  <p><%= @city.data %></p>
  <p>---------------------------Reviews---------------------------</p>
  <p><%= render @city.reviews || "Nobody has reviwed #{@city.name} yet, have you visited it? Leave a review for others!" %></p>

  <%= simple_form_for([ @city, @review ], remote: true) do |f| %>
    <%= f.input :content, label: 'Leave a review', as: :text %>
  <%= f.button :submit, class:"btn-success", value: 'Add review' %>
<% end %>
<%= link_to 'Back', root_path, class:"btn-primary" %>
</div>
